extends layout

block head
  if paste.encrypted === true
    script(src='/javascripts/openpgp.min.js')
    script(src='/javascripts/decrypt.js')

block content
  #content
    include header.jade

    if paste.encrypted === true
      div#data #{data}
      p.
        #[a(href="#{rawUrl}") #[img#image.pasted(src="")]]

      p#decrypting Decrypting paste..

    if paste.encrypted === false
      p.
        #[a(href="#{rawUrl}") #[img#image.pasted(src="#{data}")]]

  include footer.jade
