extends layout

block head
  script(src='/javascripts/highlight.pack.js')
  script(src='/javascripts/highlightjs-line-numbers.min.js')
  script(src='/javascripts/syntax.js')
  link(rel='stylesheet', href='/stylesheets/atom-one-light.css')
  link(rel='stylesheet', href='/stylesheets/line-numbers.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

block content
  #content
    include header.jade

    pre
      code#paste
        | #{data}

  include footer.jade
