extends layout

block head
  script(src='/javascripts/highlight.pack.js')
  if paste.encrypted === true
    script(src='/javascripts/openpgp.min.js')
  script(src='/javascripts/highlightjs-line-numbers.min.js')
  script(src='/javascripts/showdown.min.js')
  script(src='/javascripts/syntax.js')
  link(rel='stylesheet', href='/stylesheets/gruvbox-dark.css')
  link(rel='stylesheet', href='/stylesheets/line-numbers.css')
  if paste.vault
    script.
      window.vault = '#{paste.vault}';
block content
  #content
    include header.pug

    pre
      code#paste(class=paste.plain === true ? "nohighlight" : "")
        | #{data}

    div#markdown

    if paste.encrypted === true
      p#decrypting Decrypting paste..

  include footer.pug
