extends layout

block head
  script(src='/javascripts/highlight.pack.js')
  script(src='/javascripts/highlightjs-line-numbers.min.js')
  script(src='/javascripts/syntax.js')
  link(rel='stylesheet', href='/stylesheets/gruvbox-dark.css')
  link(rel='stylesheet', href='/stylesheets/line-numbers.css')

block content
  #content
    include header.jade

    pre
      code#paste(class=paste.plain === true ? "nohighlight" : "")
        | #{data}

  include footer.jade
